{% extends 'base.html' %}
{% import 'macros.html' as macro %}

 <!-- Block content -->

        {% block content %}
        <!-- General News-->
        <h3> World General news summary</h3>
        <ul>
            {{ macro.displayNews(general)}}
        </ul>
       
        <!-- Business News-->
        <h3>World Business news summary</h3>
        <ul>
            {{ macro.displayNews(business)}}
        </ul>

        <!-- Technology-->
        <h3>World Technology news Summary</h3>
        <ul>
            {{ macro.displayNews(technology)}}
        </ul>
    
        {% endblock %}


