{% import 'macros.html' as macro %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        {% if title %}
        <title> {{ title }}</title>
        {% else %}
        <title> Welcome to Wire Online News Service </title>
        {% endif %}
    </head>
    <body>
        <!-- General News-->
        <h3> World General news summary</h3>
        <ul>
            {{ macro.displayNews(general)}}
        </ul>
       
        <!-- Business News-->
        <h3>World Business news summary</h3>
        <ul>
            {{ macro.displayNews(business)}}
        </ul>

        <!-- Technology-->
        <h3>World Technology news Summary</h3>
        <ul>
            {{ macro.displayNews(technology)}}
        </ul>
    </body>
</html>



